<div class="row">
    <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Cost in Credits</th>
            <th scope="col">Hyperdrive Rating</th>
            <th scope="col">Length</th>
            <th scope="col">Passenger Count</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>{{name}}</td> 
            <td>{{costInCredits | currency}}</td> 
            <td>{{hyperdriveRating}}</td> 
            <td>{{length}}</td>
            <td>{{passengers}}</td>
          </tr>
        </tbody>
      </table>

