.navbar{
    background-color:yellow !important;
}

.nav-item:hover{
    background-color: rgb(145, 145, 0);
}

.btn{
    background-color: black;
    color: orange;
}

.btn:hover{
    background-color: gray;
}