<navbar></navbar>
<div class="container">
    <div class="row">
        <h1 class="mt-5 center charHeader">Starships</h1>
    </div>

    <div class="row mt-5">
        <table-starship *ngFor="let data of results" [name]="data.name" [costInCredits]="data.cost_in_credits"
            [hyperdriveRating]="data.hyperdrive_rating" [length]="data.length"
            [passengers]="data.passengers"></table-starship>
    </div>
    <div class="row">
        <div class="col">
            <button (click)="previousPage()" [disabled]="count === 0 || count === 1">Prev</button>
        </div>
        <div class="col d-flex justify-content-end">
            <button (click)="nextPage()" [disabled]="count >= 4">Next</button>
        </div>
    </div>
</div>