<div class="row">
    <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Climate</th>
            <th scope="col">Terrain</th>
            <th scope="col">Population</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>{{name}}</td> 
            <td>{{climate}}</td> 
            <td>{{terrain}}</td> 
            <td>{{population}}</td>
          </tr>
        </tbody>
      </table>

