<div class="row">
    <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Planet of Origin</th>
            <th scope="col">Vehicles</th>
            <th scope="col">Starships</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>Crunkin</td> 
            <td>Creamin</td> 
            <td>Creamin</td> 
            <td>Creamin</td>
          </tr>
        </tbody>
      </table>
</div>