body{
    background-image:url('./assets/starWar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Star-Wars !important;
    color: yellow;
}

@font-face {
    font-family: Star-Wars;
    src: url('./assets/DeathStar-VmWB.ttf');
}

